<!DOCTYPE html>
<html>
<head>
    <title>Add Homework</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>School ERP</h2>

    <a href="/admin_dashboard">Dashboard</a>
    <a href="/add_homework">Add Homework</a>
    <a href="/web_attendance">Attendance</a>
    <a href="/web_result">Results</a>
</div>

<div class="main">

    <div class="login-box">
        <h2>Add Homework</h2>

        <form action="/save_homework" method="post">

            <label>Class Name</label>
            <select name="class_name" required>
                <option value="">Select Class</option>
                <option>Nursery</option>
                <option>LKG</option>
                <option>UKG</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
            </select>

            <br><br>

            <label>Subject</label>
            <input type="text"
                   name="subject"
                   placeholder="Enter Subject"
                   required>

            <br><br>

            <label>Homework</label>
            <textarea name="homework_text"
                      rows="6"
                      placeholder="Enter Homework"
                      required></textarea>

            <br><br>

            <label>Date</label>
            <input type="date"
                   name="homework_date"
                   required>

            <br><br>

            <button type="submit">
                Save Homework
            </button>

        </form>

    </div>

</div>

</body>
</html>