<!DOCTYPE html>
<html>
<head>
    <title>Collect Fee</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% if success %}
<script>
    alert("Fee Saved Successfully");
</script>
{% endif %}

<div class="sidebar">
    <h2>School ERP</h2>
    <a href="/admin_dashboard">Dashboard</a>
    <a href="/web_fees">Fees List</a>
    <a href="/add_fee_web">Collect Fee</a>
    <a href="/web_pending_fees">Pending Fees</a>
</div>

<div class="main">
    <div class="login-box">
        <h2>Collect Fee</h2>

        <form action="/save_fee_web" method="post">

            <select name="student_id" required>
                {% for student in students %}
                <option value="{{ student.id }}">
                    {{ student.student_name }}
                </option>
                {% endfor %}
            </select><br><br>

            <input type="number"
                   name="amount"
                   placeholder="Paid Amount"
                   required><br><br>

            <input type="date"
                   name="paid_date"
                   required><br><br>

            <select name="status" required>
                <option value="Paid">Paid</option>
                <option value="Pending">Pending</option>
            </select><br><br>

            <button type="submit">Save Fee</button>

        </form>
    </div>
</div>

</body>
</html>