<!DOCTYPE html>
<html>
<head>
    <title>Attendance Report</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>School ERP</h2>

    {% if request.session.role == "admin" %}
        <a href="/admin_dashboard">Dashboard</a>
    {% else %}
        <a href="/teacher_dashboard">Dashboard</a>
    {% endif %}

    <a href="/web_attendance">Mark Attendance</a>
    <a href="/web_attendance_list">Attendance Report</a>

    <a href="/export_attendance_excel">
        Download Excel
    </a>
</div>

<div class="main">
    <h2>Attendance Report</h2>

    <table>
        <tr>
            <th>Student Name</th>
            <th>Status</th>
            <th>Date</th>
        </tr>

        {% for att in attendance_list %}
        <tr>
            <td>{{ att.student_name }}</td>
            <td>{{ att.status }}</td>
            <td>{{ att.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>