<!DOCTYPE html>
<html>
<head>
    <title>Fees</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>School ERP</h2>
    <a href="/admin_dashboard">Dashboard</a>
    <a href="/web_fees">Fees</a>
    <a href="/add_fee_web">Collect Fee</a>
    <a href="/web_pending_fees">Pending Fees</a>
    <a href="/export_fees_excel">
        Download Excel
    </a>
</div>

<div class="main">
    <h2>Fees Management</h2>

    <table>
        <tr>
            <th>Student</th>
            <th>Total Fee</th>
            <th>Paid Amount</th>
            <th>Pending Fee</th>
            <th>Print</th>
        </tr>

        {% for fee in fees %}
        <tr>
            <td>{{ fee.student_name }}</td>
            <td>{{ fee.total_fee }}</td>
            <td>{{ fee.paid_amount }}</td>
            <td>{{ fee.pending_fee }}</td>
            <td>
                <a href="/fee_receipt/{{ fee.student_id }}" target="_blank">
                    Print Receipt
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>