<!DOCTYPE html>
<html>
<head>
    <title>School ERP Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-container">
    <div class="login-box">
        <h1>School ERP</h1>
        <h3>Admin Login</h3>

        <form action="/login" method="post">

            <input type="text"
                   name="username"
                   placeholder="Username"><br><br>

            <input type="password"
                   name="password"
                   placeholder="Password"><br><br>

            <button type="submit">Login</button>

        </form>
    </div>
</div>

</body>
</html>