<!DOCTYPE html>
<html>
<head>
    <title>School ERP Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-container">

    <div class="login-left">
        <h1>THE RISING STAR</h1>
        <p>ENGLISH MEDIUM SCHOOL</p>
    </div>

    <div class="login-box">
        <h2>School ERP Login</h2>

        <form action="/login" method="post">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>

        </form>

    </div>

</div>

</body>
</html>