<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>THE RISING STAR</h2>

    <a href="/web_students">Students</a>
    <a href="/web_attendance">Attendance</a>
    <a href="/add_homework">Homework</a>
    <a href="/view_notices">Notices</a>
    <a href="/web_result">Results</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

    <div class="topbar">
        <h1>Teacher Dashboard</h1>
        <h3>{{ teacher_name }}</h3>
    </div>

    <div class="stats">

        <div class="stat-card">
            <h3>Total Students</h3>
            <p>{{ total_students }}</p>
        </div>

        <div class="stat-card">
            <h3>Attendance</h3>
            <p>{{ today_attendance }}</p>
        </div>

        <div class="stat-card">
            <h3>Homework</h3>
            <p>{{ pending_homework }}</p>
        </div>

        <div class="stat-card">
            <h3>Results</h3>
            <p>{{ total_results }}</p>
        </div>

    </div>

</div>

</body>
</html>