<!DOCTYPE html>
<html>
<head>
    <title>View Notices</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main">

    <h2>School Notices</h2>

    <br>

    <a href="/add_notice">
        <button>Add New Notice</button>
    </a>

    <br><br>

    <table border="1" width="100%">
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Date</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for n in notices %}
        <tr>
            <td>{{ n.title }}</td>
            <td>{{ n.message }}</td>
            <td>{{ n.notice_date }}</td>

            <td>
                <a href="/notice/{{ n.id }}">
                    View
                </a>
            </td>

            <td>
                <a href="/edit_notice/{{ n.id }}">
                    Edit
                </a>
            </td>

            <td>
                <a href="/delete_notice/{{ n.id }}"
                   onclick="return confirm('Delete this notice?')">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>